* {
  box-sizing: border-box;
}


.aboutUs {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.aboutUsHeader h2 {
    color: #1F522B;
    font-size: 2.5rem;
    margin-bottom: 0;
    text-decoration: underline;
}

.textContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textAboutUs {
    max-width: 800px;
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    padding: 0 10px 0 10px;
}

.highlight {
    color: #1F522B;
    font-weight: bold;
}

.imageContainer {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.address {
    margin-top: 0;
}

.address, .openingHours {
    font-weight: bold;
    margin-bottom: 8px;
}

.addressText, .openingHoursText {
    margin: 0 0 10px 0;
}

.openingHoursContainer {
    margin-top: 15px;
}

.imageSliderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 16px;
  width: 100%;
  max-width: 1076px;
  padding: 0 16px;
}


.sliderImages {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex: 1;
  max-width: 100%;
}

.arrow {
  width: 40px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.arrow:hover {
  transform: scale(1.1);
}

.imageCard {
  width: clamp(200px, 30vw, 300px);
  height: clamp(300px, 45vw, 450px);
  perspective: 1000px;
  flex-shrink: 0;
}


.imageInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.imageCard:hover .imageInner {
  transform: rotateY(180deg);
}

.imageFront, .imageBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.imageFront img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(1.3);
}

.imageBack {
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.imageOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(247, 242, 242, 0.596);
  color: #1F522B;
  z-index: 1;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
}

.imageDescription {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 0 10px 0 10px;
}

@media (max-width: 768px) {

  .aboutUsHeader h2 {
    font-size: 1.875rem;
  }

}











