.aboutUs {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h2 {
    color: #1F522B;
    font-size: 40px;
    margin-bottom: 0;
    text-decoration: underline;
}

.textContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textAboutUs {
    max-width: 800px;
}

.highlight {
    color: #1F522B;
    font-weight: bold;
}

.imageContainer {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.aboutUsLogo {
    height: 450px;
    width: 400px;
    border-radius: 10px;
}

.aboutUsLogo:hover {
    cursor: pointer;
    transform: scale(1.01);
    filter: brightness(1.2);
}

.googleMapsContainer {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.locationContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.address {
    margin-top: 0;
}

.address, .openingHours {
    font-weight: bold;
    margin-bottom: 8px;
}

.addressText, .openingHoursText {
    margin: 0;
}

.openingHoursContainer {
    margin-top: 15px;
}

.openStatus {
    margin-top: 10px;
}

