.bookingFormContainer {
    display: flex;
    margin-top: 3.125rem;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.bookingContainer {
    max-width: 37.5rem;
    height: 34.375rem;
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #FDF6E3;
    opacity: 0.85;
    border-radius: 0.625rem;
    inset: 0;
    margin: auto;
    width: calc(100% - 1.25rem);
}

.bookingFormHeaderContainer {
    background-color: #e6b47a;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
}

.bookingFormHeadline {
    display: flex;
    justify-content: center;
    color: #1F522B;
    margin: 0.625rem 0 0 0;
}

.textBookingFormHeadline {
    color: #1F522B;
}

.bookingFormLogo {
    width: 100%;
    height: 37.5rem;
}

.bookingFormMainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.bookingFormContainerOne, .bookingFormContainerTwo {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.bookingForm {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 0.625rem;
}

.bookingFormRow {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: center;
  width: 100%;
}

.messageContainer {
    width: 100%;
    max-width: 23.3rem;
}

input, textarea {
  width: 100%;
  color: #338220;
  background-color: #FDF6E3;
  opacity: 0.85;
  border: none;
  border-bottom: 0.125rem solid #338220;
  outline: none;
  transition: border-color 0.3s ease;
}

textarea {
    height: 2.1875rem;
    padding: 0;
    resize: none;
}

textarea::placeholder {
  font-weight: 500;
}

input:hover,
textarea:hover {
  border-bottom-color: #1F522B;
}

input:focus,
textarea:focus {
  border-bottom-color: #1F522B;
}

input::placeholder,
textarea::placeholder {
  color: #338220; 
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #1F522B; 
  transition: color 0.3s ease;
}

.bookingSelect {
  width: 100%;
  background-color: #FDF6E3;
  border: none;
  border-bottom: 0.125rem solid #338220;
  border-radius: 0.25rem;
  color: #338220;

}

.seatingOptions {
  display: flex;
  gap: 0.3125rem;
  color: #338220;
  font-size: 1rem;
}

.seatingOptions input[type="radio"] {
  margin: 0 0.25rem 0 0;
}

.label {
    display: flex;
}

@media (max-width: 480px) {

  .bookingFormRow {
    flex-direction: column;
    gap: 1.25rem;
  }

}






