.bookingFormContainer {
    display: flex;
    margin-top: 50px;
    /* height: 600px; */
}

.imageContainer {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.bookingContainer {
    width: 600px;
    height: 550px;
    position: absolute;
    /* justify-content: center; */
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #FDF6E3;
    opacity: 0.85;
    border-radius: 10px;
}

.bookingFormHeaderContainer {
    background-color: #e6b47a;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bookingFormHeadline {
    display: flex;
    justify-content: center;
    color: #1F522B;
    margin: 10px 0 0 0;
}

.textBookingFormHeadline {
    color: #1F522B;
}

.bookingFormLogo {
    width: 100%;
    height: 600px;
}

.bookingFormMainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.bookingFormContainerOne, .bookingFormContainerTwo {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 20px;
}

.bookingForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 10px;
}

.bookingFormRow {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  width: 100%;
}

.messageContainer {
  width: 80%;
}

input, textarea {
  width: 100%;
  color: #338220;
  background-color: #FDF6E3;
  opacity: 0.85;
  border: none;
  border-bottom: 2px solid #338220;
  /* border-radius: 4px 4px 0 0; */
  outline: none;
  transition: border-color 0.3s ease;
}

textarea {
    height: 35px;
    padding: 0;
    resize: none;
}

textarea::placeholder {
  font-weight: 500;
}

input:hover,
textarea:hover {
  border-bottom-color: #1F522B;
}

input:focus,
textarea:focus {
  border-bottom-color: #1F522B;
}

input::placeholder,
textarea::placeholder {
  color: #338220; 
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #1F522B; 
  transition: color 0.3s ease;
}

.buttonContactForm {
    background-color: #338220;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    margin-top: 30px;
}

.buttonContactForm:hover {
    cursor: pointer;
    background-color: #1F522B;
}

.bookingSelect {
  width: 100%;
  background-color: #FDF6E3;
  border: none;
  border-bottom: 2px solid #338220;
  border-radius: 4px;
  color: #338220;

}

.seatingOptions {
  display: flex;
  gap: 20px;
  color: #338220;
  font-size: 16px;
  justify-content: center;
}

.seatingOptions input[type="radio"] {
  margin-right: 8px;
}

.label {
    display: flex;
}

