.button {
  background: linear-gradient(135deg, #338220, #1F522B);
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 12px;
  border: none;
  font-size: 18px;
  letter-spacing: 0.5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0 0 20px rgba(76, 175, 80, 0.6);
  background: linear-gradient(135deg, #1F522B, #338220);
}