.button {
  background: linear-gradient(135deg, #338220, #1F522B);
  color: white;
  width: clamp(10rem, 25vw, 12.5rem);
  height: clamp(2.5rem, 6vw, 3.125rem);
  border-radius: 0.75rem;
  border: none;
  font-size: clamp(1rem, 2.5vw, 1.125rem);
  letter-spacing: 0.03125rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0 0 20px rgba(76, 175, 80, 0.6);
  background: linear-gradient(135deg, #1F522B, #338220);
}