.contactFormContainer {
    display: flex;
    margin-top: 50px;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.contactContainer {
    max-width: 500px;
    width: clamp(300px, 90vw, 500px);
    height: clamp(280px, 90vh, 400px);
    padding: 0 10px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #FDF6E3;
    opacity: 0.85;
    border-radius: 10px;
}

.contactFormHeadline {
    display: flex;
    justify-content: center;
    color: #1F522B;
    margin-top: 0;
}

.contactFormLogo {
    width: 100%;
    height: clamp(300px, 90vh, 450px);
    object-fit: cover;
}

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 90%;
    max-width: 450px;
}

input, textarea {
  width: 100%;
  color: #338220;
  background-color: #FDF6E3;
  opacity: 0.85;
  border: none;
  border-bottom: 2px solid #338220;
  /* border-radius: 4px 4px 0 0; */
  outline: none;
  transition: border-color 0.3s ease;
}

textarea {
    height: 50px;
}

input:hover,
textarea:hover {
  border-bottom-color: #1F522B;
}

input:focus,
textarea:focus {
  border-bottom-color: #1F522B;
}

input::placeholder,
textarea::placeholder {
  color: #338220; 
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #1F522B; 
  transition: color 0.3s ease;
}


