.contactFormContainer {
    display: flex;
    margin-top: 3.125rem;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.contactContainer {
    max-width: 31.25rem;
    width: clamp(18.75rem, 90vw, 31.25rem);
    height: clamp(17.5rem, 90vh, 25rem);
    padding: 0 0.625rem;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #FDF6E3;
    opacity: 0.85;
    border-radius: 0.625rem;
}

.contactFormHeadline {
    display: flex;
    justify-content: center;
    color: #1F522B;
    margin-top: 0;
}

.contactFormLogo {
    width: 100%;
    height: clamp(18.75rem, 90vh, 28.125rem);
    object-fit: cover;
}

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    width: 90%;
    max-width: 28.125rem;
}

input, textarea {
  width: 100%;
  color: #338220;
  background-color: #FDF6E3;
  opacity: 0.85;
  border: none;
  border-bottom: 0.125rem solid #338220;
  outline: none;
  transition: border-color 0.3s ease;
}

textarea {
    height: 3.125rem;
}

input:hover,
textarea:hover {
  border-bottom-color: #1F522B;
}

input:focus,
textarea:focus {
  border-bottom-color: #1F522B;
}

input::placeholder,
textarea::placeholder {
  color: #338220; 
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #1F522B; 
  transition: color 0.3s ease;
}


