.contactFormContainer {
    display: flex;
    margin-top: 50px;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.contactContainer {
    width: 500px;
    height: 400px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #FDF6E3;
    opacity: 0.85;
    border-radius: 10px;
}

.contactFormHeadline {
    display: flex;
    justify-content: center;
    color: #1F522B;
    margin-top: 0;
}

.contactFormLogo {
    width: 100%;
}

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 90%;
}

input, textarea {
  width: 100%;
  color: #338220;
  background-color: #FDF6E3;
  opacity: 0.85;
  border: none;
  border-bottom: 2px solid #338220;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
}

textarea {
    height: 50px;
}

input:hover,
textarea:hover {
  border-bottom-color: #1F522B;
}

input:focus,
textarea:focus {
  border-bottom-color: #1F522B;
}

input::placeholder,
textarea::placeholder {
  color: #338220; 
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #1F522B; 
  transition: color 0.3s ease;
}

.buttonContactForm {
    background-color: #338220;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    margin-top: 30px;
}

.buttonContactForm:hover {
    cursor: pointer;
    background-color: #1F522B;
}