.firstSection {
    display: flex;
    justify-content: center;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: auto;
}

.firstSectionLogo {
  width: 100%;
  height: 600px;
  display: block;
}

.textContent {
  position: absolute; 
  /* top: 50%;           
  left: 50%;           */
  /* transform: translate(-50%, -50%); */
  color: white;
  text-align: center;
  /* opacity: 0;
  animation: slideUpFade 1.4s ease-out forwards;
  animation-delay: 0.3s; */
}

/* h1 {
    font-size: 48px;
} */

p {
    font-size: 20px;
}

.textHeadline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textH1, .textH2 {
  font-size: 48px;
  margin: 0;
}

.textInfo {
  display: flex;
  justify-content: center;
}





