.firstSection {
    display: flex;
    justify-content: center;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: auto;
}

.firstSectionLogo {
  width: 100%;
  max-height: 600px;
  min-height: 350px;
  display: block;
}

.textContent {
  position: absolute; 
  color: white;
  text-align: center;
}

p {
  font-size: clamp(1rem, 2.5vw, 1.25rem);
}

.textHeadline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textH1, .textH2 {
  font-size: clamp(1.5rem, 5vw, 3rem);
  margin: 0;
}

.textInfo {
  display: flex;
  justify-content: center;
}





