.footer {
    height: auto;
    background-color: #1F522B;
}

.footerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.copyRightContainer {
    color: white;
}

.copyRightContainer p {
    margin: 0;
}

.icons8Container {
    display: flex;
    justify-content: center;
}

.icons8Container a {
    color: white;
}

.iconContainer {
    display: flex;
    gap: 1.25rem;
}

.footerLogo {
    width: 15.625rem;
    height: 9.375rem;
    display: block;
}

.footerIcon {
    width: 2.1875rem;
    height: 2.1875rem;
}

.footerIcon:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}


@media (max-width: 768px) {

    .footerContainer {
        flex-direction: column;
        padding-bottom: 1.5rem;
    }

    .copyRightContainer {
        padding-bottom: 0.9375rem;
    }

}

@media (max-width: 480px) {

    .footerLogo {
        width: 9.375rem;
        height: 6.25rem;
    }

}