.header {
    height: 150px;
    background-color: #1F522B;
}

.headerContainer {
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px 0 24px;
}

.headerLogo {
    width: 250px;
    height: 150px;
}

.navbarHeader {
    width: 250px;
    gap: 50px;
    display: flex;
    justify-content: center;
}

.navbarLink {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navbarLink:hover {
    cursor: pointer;
    text-decoration: underline;
}