.header {
  height: auto;
  background-color: #1F522B;
  position: relative;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  flex-wrap: wrap;
  width: 100%;
}

.headerLogo {
  width: 250px;
  height: 150px;
}

.navBarContainer {
  display: flex;
}

.navbarHeader {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.navbarLink {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbarLink:hover {
  cursor: pointer;
  text-decoration: underline;
}

.openCloseContainer {
  display: flex;
  align-items: center;
}

.burgerMenu {
  display: none;
  cursor: pointer;
  color: white;
}

@media (max-width: 945px) {

    .openCloseContainer {
        display: none;
    }

}

@media (max-width: 768px) {
  .headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
  }

  .openCloseContainer {
    display: none;
  }

  .burgerMenu {
    display: flex;

    cursor: pointer;
  }

  .navBarContainer {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #1F522B;
    padding: 1rem;
    z-index: 10;
  }

  .navBarContainer.showMenu {
    display: flex;
  }

  .navbarHeader {
    flex-direction: column;
    gap: 13px;
    text-align: center;
  }
}

@media (max-width: 480px) {

    .headerLogo {
        width: 150px;
        height: 100px;
    }

}



