.spinnerOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(253, 246, 227, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.spinnerIcon {
  font-size: 60px;
  color: #338220;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
