.locationHeaderContainer {
    display: flex;
    justify-content: center;
}

h2 {
    color: #1F522B;
    font-size: 40px;
    margin-bottom: 0;
    text-decoration: underline;
}

.googleMapsContainer {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 0 10px;
}

iframe {
    max-width: 600px;
    width: 100%;
}


.locationContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@media (max-width: 1024px) {

    .googleMapsContainer {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        
    }

}