.locationHeaderContainer {
    display: flex;
    justify-content: center;
}

h2 {
    color: #1F522B;
    font-size: 2.5rem;
    margin-bottom: 0;
    text-decoration: underline;
}

.googleMapsContainer {
    margin-top: 1.25rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 6.25rem;
    padding: 0 0.625rem;
}

iframe {
    max-width: 37.5rem;
    width: 100%;
}


.locationContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@media (max-width: 1024px) {

    .googleMapsContainer {
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
        
    }

}