.menu {
    display: flex;
    align-items: center;
}

.menuContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

h2 {
    color: #1F522B;
    font-size: 40px;
    margin-bottom: 0;
    text-decoration: underline;
}

.imageMenuContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 20px;
    max-width: 750px;
    width: 100%;
}

.menuTextContainer {
    position: absolute;
    height: 450px;
    display: flex;
    max-width: 750px;
    width: 100%;
}

.menuImage {
    width: 100%;
    height: 770px;
    border-radius: 10px;
    object-fit: cover;
    opacity: 0.5;
}

h3 {
    font-size: 32px;
}

.menuOne, .menuTwo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.menuTextHeadlineOne, .menuTextHeadlineTwo {
    display: flex;
    justify-content: center;
    width: 100%;
}

.menuTextHeadlineOne > h3, .menuTextHeadlineTwo > h3 {
    margin-bottom: 0;
}

ul {
    list-style: none;
}

.hotColdContainer {
  display: grid;
  grid-template-columns: 1fr 60px 60px; 
  width: 90%;
  text-align: center;
  font-weight: bold;
}

.hotColdContainer p:first-child {
  grid-column: 2; 
}
.hotColdContainer p:last-child {
  grid-column: 3; 
}

.coffeeList, .nonCoffeeList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.coffeeList li, .nonCoffeeList li {
  display: grid;
  grid-template-columns: 1fr 60px 60px;
  align-items: center;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  margin: 0 30px 0 30px;
}

.coffeeList .name, .nonCoffeeList .name {
  text-align: left;
}

.dividingBar {
    width: 1px;
    height: auto;
    background-color: rgb(59, 58, 58);
}

@media (max-width: 768px) {

    .imageMenuContainer {
    padding: 0 10px;
  }

  .menuTextContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menuImage {
    height: 800px;
  }

  .menuTextHeadlineOne h3 {
    margin-top: 0;
  }

}

@media (max-width: 600px) {

  .menuTextContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 450px;
    overflow-y: auto;
    box-sizing: border-box;
    border-radius: 10px;
  }

  .menuOne,
  .menuTwo {
    width: 75%;
    margin-bottom: 20px;
  }

  .menuTextContainer {
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.menuTextContainer::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}

.menuImage {
    height: 550px;
  }
}




