.statusOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(253, 246, 227, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.statusContent {
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}

.statusMessage {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  color: #1F522B;
}

