.statusOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(253, 246, 227, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* .statusIcon {
  font-size: 250px;
} */

.success {
  color: #4CAF50;
}

.error {
  color: #D32F2F;
}
